In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("sp25-ug-cs.csv")
df.head()

,Day,Start Time,End Time,Course,UMS Class No.,Teacher
0,MW,8:30,9:45,Information Security and Ethics,98642,Dr. Imran Khan
1,MW,8:30,9:45,Information Security and Ethics,98352,Dr. Imran Khan
2,MW,8:30,9:45,Pakistan History,98354,Dr. Jaffar Ahmed
3,MW,8:30,9:45,Competitive Programming,98358,Dr. Imran Rauf
4,MW,8:30,9:45,Introduction to Artificial Intelligence,98355,Dr. Syed Ali Raza

In [4]:
unique_check = df['Course'].value_counts().to_dict()
unique_check = dict(sorted(unique_check.items()))

for course, count in unique_check.items():
    print(f"{course : >50} : {count : >2}")

        Application Development for mobile devices :  1
                             Applied Data Analysis :  1
                            Business Intelligience :  2
                                       Calculus-II :  5
                           Competitive Programming :  2
       Computer Architecture and Assembly Language : 10
             Computer Communication and Networking : 10
                                   Data Structures :  2
                                  Data Warehousing :  1
                  Design and Analysis of Algorithm :  4
                                 Digital Forensics :  1
                              Discrete Mathematics :  5
                   Information Security and Ethics :  4
                                Interaction Design :  1
           Introduction to Artificial Intelligence :  5
                   Introduction to Computer Vision :  1
                       Introduction to Programming :  2
                    Introduction to Text Analytics :  3
                                  Network Security :  1
                 Neural Networks and Deep Learning :  1
             Object Oriented Programming Technique : 11
                                  Pakistan History :  3
                Parallel and Distributed Computing :  8
                                           Physics :  6
                    Software Architecture & Design :  1
                              Speech Communication :  9
                          Tech Product Development :  1
                                Theory of Automata :  4
                          Topics in History (2 CH) :  3
                       Topics in Literature (2 CH) :  2